$main-dark: rgba(18, 18, 18, 1);
$sub-dark: #282828;
$white-font: rgba(255, 255, 255, 0.83);
$sub-white-font: rgba(255, 255, 255, 0.68);
$purple-font: #bb86fc;
$main-white: #fff;

#root {
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100%;
}

.RootDiv {
  height: 100vh;
}

.light-mode {
  background-color: $main-white;
  color: $main-dark;
  background-color: $main-dark;
  color: $white-font;
  section {
    background-color: $main-white;
  }
  article {
    /* 예매율, 관객수 */
    .OSHak {
      div {
        color: $sub-white-font;
      }
    }
    /* MovieTitle */
    .jZoiz {
      color: $main-dark;
    }
    /* MovieInfo */
    .OSHak {
      color: $sub-dark;
    }
    .eMAOiS {
      color: $sub-dark;
    }
    li {
      background-color: $main-dark;
      border: 0.5px solid $main-dark;
      box-shadow: 0.125rem 0.1875rem $main-dark;
      .kxfLYa {
        /* 개봉일 */
        color: $sub-white-font;
      }
      .jxkohj {
        /* 개봉일 */
        color: $sub-white-font;
      }
      a {
        color: $main-white;
      }
    }
  }
  nav {
    background-color: $main-dark;
    ul {
      background-color: $main-dark;
    }
    a {
      color: $white-font;
      &:hover {
        color: $main-dark;
      }
    }
  }
  // movieTitle
  .dJLnlh .lnXTZu {
    margin-right: 1rem;
  }
  // 예매율 top
  .eDNtZ {
    color: $sub-white-font;
  }

  // 개봉일, 누적관객수 top
  .hVDIiZ {
    color: $sub-white-font;
  }
  // 더보기
  .kpWDOo {
    a {
      color: $white-font;
    }
  }
}

.dark-mode {
  background-color: $main-dark;
  color: $white-font;
  section {
    background-color: $main-dark;
  }
  article {
    /* MovieTitle */
    .jZoiz {
      color: $white-font;
    }
    /* MovieInfo */
    .OSHak {
      color: $sub-white-font;
    }
    .eMAOiS {
      color: $sub-white-font;
    }
    li {
      background-color: $sub-dark;
      border: 0.5px solid $sub-dark;
      box-shadow: 0.125rem 0.1875rem $sub-dark;
      .kxfLYa {
        /* 개봉일 */
        color: $sub-white-font;
      }
      .jxkohj {
        /* 개봉일 */
        color: $sub-white-font;
      }
      a {
        color: $purple-font;
      }
    }
  }
  nav {
    background-color: $main-dark;
    ul {
      background-color: $main-dark;
    }
    a {
      color: #bb86fc;
      &:hover {
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
  // movieTitle
  .dJLnlh .lnXTZu {
    margin-right: 1rem;
  }
  // 예매율 top
  .eDNtZ {
    color: $sub-white-font;
  }
  // 개봉일, 누적관객수 top
  .hVDIiZ {
    color: $sub-white-font;
  }
  // 더보기
  .kpWDOo {
    a {
      color: $purple-font;
    }
  }
}
